{% extends 'shared/layout.html' %}
{% block body %}
<header class="jumbotron">
    <div class="container">
        <h1>Product created!</h1>
    </div>
</header>
<section>
    <div class="container">
        <h2>You have successfully created a new product.</h2>
        <!-- 顯示剛才被成功產生的產品資訊 -->
        <img src="{{ product.img_url }}" width="100%" alt="">
        <table class="table">
            <tr>
                <th>欄位名稱</th>
                <th>值</th>
            </tr>
            {% for key in product %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ product[key] }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/">Back Home</a>
    </div>
</section>
{% endblock %}